main.main
    include ./../sections/welcome
    include ./../sections/smart
    include ./../sections/experts
    include ./../sections/works
    include ./../sections/tarrifs
    include ./../sections/latest
    include ./../sections/design
    include ./../sections/contacts
