section.contacts
    iframe(src='https://www.google.com/maps/d/embed?mid=1VJQtauJAuvjzI1W2bRnr7Q8VISg' width='100%' height='300')
    .contacts__container.container
        .contacts__modal
            h2.contacts__title.title.title--secondary Contact Us
            a(href="#").contacts__email 7orcof@7orcof.com
            p.contacts__address Your address goes here
