section.design
    .design__container.container
        .design__wrapper
            p.design__copy © 2013 <a href="#"> Motion Template </a>. Design by Begha
            ul.design__subscribe
                li.design__item.design__item--facebook
                    a.design__link(href="#")
                li.design__item.design__item--twitter
                    a.design__link(href="#")
                li.design__item.design__item--rss
                    a.design__link(href="#")
