section.experts
    .experts__conitaner.container
        h2.experts__title.title.title--block Talented & Experts
        h3.experts__subtitle.title.title--secondary This is our team :)
        ul.experts__list
            li.experts__item
                picture
                    source(srcset="img/e-1.webp" type="image/webp")
                    img(src="img/e-1.png" alt="expert 1")
                p.expert__name Mahmoud Baghagho
                p.expert__job Senior UI Designer
                a(href="https://twitter.com").expert__follow Follow
                    svg(width='32' height='26')
                        use(href="#twitter-icon")
            li.experts__item
                picture
                    source(srcset="img/e-2.webp" type="image/webp")
                    img(src="img/e-2.png" alt="expert 2")
                p.expert__name Abd ElRahman
                p.expert__job Senior App Developer
                a(href="https://twitter.com").expert__follow Follow
                    svg(width='32' height='26')
                        use(href="#twitter-icon")
            li.experts__item
                picture
                    source(srcset="img/e-3.webp" type="image/webp")
                    img(src="img/e-3.png" alt="expert 3")
                p.expert__name Mostafa Amin
                p.expert__job Senior Graphic Designer
                a(href="https://twitter.com").expert__follow Follow
                    svg(width='32' height='26')
                        use(href="#twitter-icon")
            li.experts__item
                picture
                    source(srcset="img/e-4.webp" type="image/webp")
                    img(src="img/e-4.png" alt="expert 4")
                p.expert__name Ahmed Ali
                p.expert__job Senior Web Developer
                a(href="https://twitter.com").expert__follow Follow
                    svg(width='32' height='26')
                        use(href="#twitter-icon")
