section.latest
    .latest__container.container
        h2.latest__title.title.title--block Latest Tweets
        h3.latest__subtitle.title.title--secondary This is how to keep in touch :)
        svg.latest__icon(width='32' height='26')
            use(href="#twitter-icon")
        .latest__swiper.swiper-container
            .swiper-wrapper
                p.swiper-slide
                    a(href="#").latest__follow @ Abd-Alrahaman Elgazzar 
                    | Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here
                    a(href="#").latest__follow   http://t.co/zfdgfdg
                p.swiper-slide
                    a(href="#").latest__follow @ Abd-Alrahaman Elgazzar 
                    | Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here
                    a(href="#").latest__follow   http://t.co/zfdgfdg
                p.swiper-slide
                    a(href="#").latest__follow @ Abd-Alrahaman Elgazzar 
                    | Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here
                    a(href="#").latest__follow   http://t.co/zfdgfdg
            .swiper-button-prev
                svg(width='9' height='14' fill="#fff")
                    use(href="#left-chev")
            .swiper-button-next
                svg(width='9' height='14' fill="#fff")
                    use(href="#left-chev")
