section.smart
    .smart__container.container
        h2.smart__title.title.title--block Smart & Creative
        h3.smart__subtitle.title.title--secondary This is why you will use it :)
        ul.smart__features.features
            li.smart__feature
                .feature__icon
                    svg(width="83" height="41")
                        use(href="#icon-infinity")
                h4.feature__title Multi purpose
                p.feature__desc Lorem ipsum dolor sit amet, consectetur adipisicing..
            li.smart__feature
                .feature__icon.feature__icon--clever
                    svg(width="56" height="56")
                        use(href="#icon-clever")
                h4.feature__title Flat UI
                p.feature__desc Lorem ipsum dolor sit amet, consectetur adipisicing..
            li.smart__feature
                .feature__icon
                    svg(width="62" height="43")
                        use(href="#icon-cloud")
                h4.feature__title Creative Design
                p.feature__desc Lorem ipsum dolor sit amet, consectetur adipisicing..
