section.tarrifs
    hr
    .tarrifs__container.container
        h2.tarrifs__title.visually-hidden Our Tarrifs
        .tarrifs__wrapper
            .tarrifs__item
                .tarrif__top
                    h4.tarrif__title Start Up
                    p.tarrif__descr For Beginners
                .tarrif__body
                    ul.tarrif__features
                        li.tarrif__item Basic pages
                        li.tarrif__item MySQL Databases
                        li.tarrif__item Bandwith
                        li.tarrif__item Storage space
                .tarrif__footer
                    span.tarrif__cost 15
                    a(href="#").tarrif__order Order
            .tarrifs__item.tarrifs__item--standard
                .tarrif__top
                    h4.tarrif__title.tarrif__title--standard Start Up
                    p.tarrif__descr.tarrif__descr--standard More than what you have <br> dreamed with
                .tarrif__body
                    ul.tarrif__features.tarrif__features--standard
                        li.tarrif__item Basic pages
                        li.tarrif__item MySQL Databases
                        li.tarrif__item Bandwith
                        li.tarrif__item Storage space
                .tarrif__footer.tarrif__footer--standard
                    span.tarrif__cost 15
                    a(href="#").tarrif__order.tarrif__order--standard Order
            .tarrifs__item
                .tarrif__top
                    h4.tarrif__title Start Up
                    p.tarrif__descr For Beginners
                .tarrif__body
                    ul.tarrif__features
                        li.tarrif__item Basic pages
                        li.tarrif__item MySQL Databases
                        li.tarrif__item Bandwith
                        li.tarrif__item Storage space
                .tarrif__footer
                    span.tarrif__cost 15
                    a(href="#").tarrif__order Order
        p.tarrif__after And more available plans for all needs .... <a href="#">Check here</a>
