section.welcome
    .welcome__container.container
        h1.welcome__title.title Welcome to Motion
        h3.welcome__subtitle.title.title--sub A smart & Creative Page Template
        .welcome__swiper
            .swiper-container
                .welcome__swiper-wrapper.swiper-wrapper
                    .swiper-slide.welcome__slide
                    .swiper-slide.welcome__slide
                    .swiper-slide.welcome__slide

            .swiper-button-prev.welcome-prev
                svg(width='17' height='25' fill="#fff")
                    use(href="#left-chev")
            .swiper-button-next.welcome-next
                svg(width='17' height='25' fill="#fff")
                    use(href="#left-chev")
