header.header
    .header__container.container
        img(src='img/icons/logo.svg' width="165" alt='Логотип').header__logo
        button(type="button" aria-label='Открыть меню').header__button#menuBtn
        nav.header__navigation.navigation#nav
            ul.navigation__list
                li.navigation__item
                    a(href="#").navigation__link.navigation__link--current Home
                li.navigation__item
                    a(href="#").navigation__link About
                li.navigation__item
                    a(href="#").navigation__link Team
                li.navigation__item
                    a(href="#").navigation__link Portfolio
                li.navigation__item
                    a(href="#").navigation__link Other
                li.navigation__item
                    a(href="#").navigation__link Contact
