
/* Bariol_Regular - latin_cyrillic */
@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Bariol_Regular.eot'); /* IE9 Compat Modes */
    src: local(''),
}
