$c-white-0: #ffffff;
$c-black-0: #232324;

$c-blue-0: #00ADEF;
$c-blue-100: #3888C3;
$c-blue-200: #3888C3;
$c-blue-300: #337AB7;
$c-blue-400: #1E598B;
$c-blue-500: #00314F;
$c-blue-600: #022438;
$c-blue-700: #001e42;

$c-green-0: #6cc372;
$c-green-100: #5CBC91;
$c-green-300: #33B7B7;
$c-green-200: #07766D;
$c-green-300: #07766C;

$c-grey-0: #F6F7FB;
$c-grey-100: #DFE4EB;
$c-grey-200: #BFCAD8;
$c-grey-300: #9D9D9D;
$c-grey-400: #dae1e9;

$c-purple-0: #B433B7;
$c-purple-100: #B73372;
$c-purple-200: #5B6BC8;

$c-red-0: #d84948;
$c-red-100: #e34c4b;
$c-red-200: #eb4f4e;
$c-red-300: #f56262;

$c-brown-0: #987246;

$font: "Bariol", "Arial", sans-serif;
$font-alt: "Arial", sans-serif;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;
$small: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;
